{
  "extends": [
    "standard"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "latest"
    }
  },
  "rules": {
  }
}





